version: "3.7"

services:
  app_proxy:
    environment:
      APP_HOST: wtf-bytestash_app_1
      APP_PORT: 5000

  app:
    image: ghcr.io/jordan-dalby/bytestash:1.5.10@sha256:a31fd1067aff9a1a81e4d7c319d53f02016eeedc4025e26b068e6a68a7ede7b6
    restart: always
    volumes:
      - ${APP_DATA_DIR}/data:/data/snippets
    environment:
      - BASE_PATH=
      - JWT_SECRET=BKn>-T!9YLGf9rcfBcs$5J{!Feru+Vg/1;X;U}LDxst
      - TOKEN_EXPIRY=24h
      - ALLOW_NEW_ACCOUNTS=true
      - DEBUG=false
      - DISABLE_ACCOUNTS=false
      - DISABLE_INTERNAL_ACCOUNTS=false
