version: "3.7"

services:
  app_proxy:
    environment:
      APP_HOST: wtf-koel_server_1
      APP_PORT: 80

  server:
    image: phanan/koel:8.3.0@sha256:55bc3fb52a31b5e5cc40b2396924b6d685ebf4896e877508ed7ba01e26d8e773
    restart: on-failure
    depends_on:
      - db
    entrypoint: [ "/bin/sh", "/entrypoint.sh" ]
    environment:
      - DB_CONNECTION=pgsql
      - DB_HOST=db.wtf-koel.orb.local
      - DB_PORT=5432
      - DB_USERNAME=koel
      - DB_PASSWORD=admin
      - DB_DATABASE=koel
    volumes:
#      - ${APP_DATA_DIR}/music:/music:rw
      - ${APP_DATA_DIR}/entrypoint.sh:/entrypoint.sh
      - ${APP_DATA_DIR}/data/storage:/var/www/html/public/img/storage:rw
      - ${APP_DATA_DIR}/data/search_index:/var/www/html/storage/search-indexes:rw

  db:
    image: postgres:13
    environment:
      - POSTGRES_USER=koel
      - POSTGRES_PASSWORD=admin
      - POSTGRES_DB=koel
    volumes:
      - ${APP_DATA_DIR}/data/koel-db:/var/lib/postgresql/data

volumes:
  koel-db:
    # driver: local
  # music:
    # driver: local
  storage:
    # driver: local
  search_index:
    # driver: local
